/*----------NAVBAR---------*/

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/*--------- HEADINGS------*/

h3,h4,h5{
    text-align: center
}
/* Border style  */
.border-setting {
    display: inline-block;
    border: solid 1px #cfe0fc;
}

/*---------PIE CHART------*/


.chart-box-style {
    background-color: #cfe0fc;
    color: #0e58d8;
    height: 450px;
    min-width: 300px;
   
}


/*--------- MAP------*/


#map {
    height: 450px;
    width:100%;
}

.set-position {
    top:44px;
    padding-top: 10px;
    position: relative;
       }

/*------- DATA TABLE-----*/

.crimeTable, th, td {
    padding:10px;
}

/*------- BAR CHART------*/

.chart {
    margin-top: 70px;
    position:relative;
    padding:30px;
    display: inline-block;
}

.chartHeader {
    text-align: center;
 margin-top: 30px;  
    
}