

/* Headings  */

h3,h5{
    text-align: center
}

.chartHeader {
    text-align: center;
 margin-top: 30px;  
    
}

/* PieChart style */


.chart-box-style {
    background-color: #cfe0fc;
    color: #0e58d8;
    height: 450px;
    min-width: 300px;
   
}

/* Border style  */
.border-setting {
    display: inline-block;
    border: solid 1px #cfe0fc;
}


/* Map area style */


/*.map-style{ */
/*    position: relative;*/
/*    width: 300px;*/
/*    height: 500px;*/
/*}*/

/*#map-style {*/
/*    border-left: solid 1px #cfe0fc;*/
/*}*/


#map {
   
   
    height: 450px;
    width:100%;
}


.set-position {
    top:44px;
    padding-top: 10px;
    position: relative;
       }



/* Table area style */

.crimeTable, th, td {
  
    padding:10px;
}


svg {
    height: 350px;
    width: 400px;
    position: relative;
    /*   border: solid 1px #87b2f8; */
}


.barcharts.svg {
    height: 300px;
    width: 100%;
    position: relative;
    border: solid 1px #87b2f8; 
}

.dc-chart{ width:400;
    height:300;

}
.chart {
    width:400;
    height:300;
    margin-top: 60px;
}



/* Button style  */


.button {
  background-color:#e6e6ff ;
  border: none;
  color: black;
  padding: 40px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  
}

.button9 {
  background-color:#e6e6ff ;
  border: none;
  color: black;
  padding: 40px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  
}
.clear { padding: 10px 16px;
}


.button:hover {
  background-color: lightblue; /* Green */
  color: white;
 
}

